.navContainer {
  background-color: #4a99f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 15px;
  border-radius: 6px;
  position: relative;
}

@media (max-width: 500px) {
  .navContainer {
    flex-direction: column;
    padding: 10px;
  }

  .navContainer h2 {
    margin-bottom: 10px;
  }

  .navContainer .search {
    width: 100%;
  }

  .navContainer .search input {
    width: calc(100% - 50px); /* Adjust input width to account for icons */
  }

  .navContainer .search span.clear-icon {
    right: 10px;
  }
}

.navContainer h2 {
  color: white;
  min-width: 150px;
  text-align: center;
}

.navContainer .search {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.navContainer .search .search-icon {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #4a99f8;
}

.navContainer .search .clear-icon {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  background: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}

.navContainer .search .clear-icon:hover {
  background: white;
  color: #4a99f8;
}

.navContainer .search input {
  padding: 10px 10px 10px 40px;
  width: 300px;
  max-width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
}
