<div class="container">
  <div class="pagePagination">
    <span (click)="prevPage()"><i class="fa-solid fa-chevron-left"></i></span>
    @for (pageNum of totalPages; track $index) {
    <span [class.active]="pageNum === page" (click)="goToPage(pageNum)">
      {{ pageNum }}
    </span>
    }
    <span (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></span>
  </div>
  @if(errorMessage == ""){
  <div class="users">
    @for (user of users; track user.id) {
    <div class="userbox" [routerLink]="['/userdetails', user.id]">
      <div class="header">
        <span>{{ user.id }}</span>
        <div class="userImg">
          <img [ngStyle]="getStyles()" [src]="user.avatar" alt="" />
        </div>
      </div>
      <div class="boxBody">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>{{ user.email }}</p>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Vivamus eget eros vestibulum, accumsan ante
          viverra, condimentum tellus.
        </p>
      </div>
      <div class="boxFooter">
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
    }
  </div>
  }@else {
  <div setFlexCenter class="error-container">
    <div class="error-message">
      <h2>User Not Found ⚠️</h2>
      <p>
        The user ID you entered does not match any records. Please verify the ID
        and try again.
      </p>
    </div>
  </div>
  }
</div>
